---
title: <template>：内容模板元素
slug: Web/HTML/Element/template
tags:
  - HTML
  - Web
  - Web Components
  - Web 组件
  - 元素
translation_of: Web/HTML/Element/template
---
<p id="Summary"></p><section class="Quick_links" id="Quick_Links">
  <ol>


   <li><details><summary>HTML Elements</summary><ol>
   <li>A
 <ol>
  <li><a href="/zh-CN/docs/Web/HTML/Element/a"><code>&lt;a&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/abbr"><code>&lt;abbr&gt;</code></a></li>
  <li><s class="obsoleteElement"><a href="/zh-CN/docs/Web/HTML/Element/acronym"><code>&lt;acronym&gt;</code></a></s></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/address"><code>&lt;address&gt;</code></a></li>
  <li><s class="obsoleteElement deprecatedElement"><a href="/zh-CN/docs/Web/HTML/Element/applet"><code>&lt;applet&gt;</code></a></s></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/area"><code>&lt;area&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/article"><code>&lt;article&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/aside"><code>&lt;aside&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/audio"><code>&lt;audio&gt;</code></a></li>
 </ol>
 </li><li>B
 <ol>
  <li><a href="/zh-CN/docs/Web/HTML/Element/b"><code>&lt;b&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/base"><code>&lt;base&gt;</code></a></li>
  <li><s class="obsoleteElement deprecatedElement"><a href="/zh-CN/docs/Web/HTML/Element/basefont"><code>&lt;basefont&gt;</code></a></s></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/bdi"><code>&lt;bdi&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/bdo"><code>&lt;bdo&gt;</code></a></li>
  <li><s class="nonStdElement"><a href="/zh-CN/docs/Web/HTML/Element/bgsound"><code>&lt;bgsound&gt;</code></a></s></li>
  <li><s class="obsoleteElement"><a href="/zh-CN/docs/Web/HTML/Element/big"><code>&lt;big&gt;</code></a></s></li>
  <li><s class="nonStdElement"><a href="/zh-CN/docs/Web/HTML/Element/blink"><code>&lt;blink&gt;</code></a></s></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/blockquote"><code>&lt;blockquote&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/body"><code>&lt;body&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/br"><code>&lt;br&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/button"><code>&lt;button&gt;</code></a></li>
 </ol>
 </li><li>C
 <ol>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/canvas"><code>&lt;canvas&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/caption"><code>&lt;caption&gt;</code></a></li>
  <li><s class="obsoleteElement deprecatedElement"><a href="/zh-CN/docs/Web/HTML/Element/center"><code>&lt;center&gt;</code></a></s></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/cite"><code>&lt;cite&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/code"><code>&lt;code&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/col"><code>&lt;col&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/colgroup"><code>&lt;colgroup&gt;</code></a></li>
  <li class="webcomp"><a href="/zh-CN/docs/Web/HTML/Element/content"><code>&lt;content&gt;</code></a></li>
 </ol>
 </li><li>D
 <ol>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/data"><code>&lt;data&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/datalist"><code>&lt;datalist&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/dd"><code>&lt;dd&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/del"><code>&lt;del&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/details"><code>&lt;details&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/dfn"><code>&lt;dfn&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/dialog"><code>&lt;dialog&gt;</code></a></li>
  <li><s class="obsoleteElement deprecatedElement"><a href="/zh-CN/docs/Web/HTML/Element/dir"><code>&lt;dir&gt;</code></a></s></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/div"><code>&lt;div&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/dl"><code>&lt;dl&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/dt"><code>&lt;dt&gt;</code></a></li>
 </ol>
 </li><li>E
 <ol>
  <li><a href="/zh-CN/docs/Web/HTML/Element/em"><code>&lt;em&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/embed"><code>&lt;embed&gt;</code></a></li>
 </ol>
 </li><li>F
 <ol>
  <li><a href="/zh-CN/docs/Web/HTML/Element/fieldset"><code>&lt;fieldset&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/figcaption"><code>&lt;figcaption&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/figure"><code>&lt;figure&gt;</code></a></li>
  <li><s class="deprecatedElement obsoleteElement"><a href="/zh-CN/docs/Web/HTML/Element/font"><code>&lt;font&gt;</code></a></s></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/footer"><code>&lt;footer&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/form"><code>&lt;form&gt;</code></a></li>
  <li><s class="obsoleteElement"><a href="/zh-CN/docs/Web/HTML/Element/frame"><code>&lt;frame&gt;</code></a></s></li>
  <li><s class="obsoleteElement"><a href="/zh-CN/docs/Web/HTML/Element/frameset"><code>&lt;frameset&gt;</code></a></s></li>
 </ol>
 </li><li>G H
 <ol>
  <li><a href="/zh-CN/docs/Web/HTML/Element/h1"><code>&lt;h1&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/h2"><code>&lt;h2&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/h3"><code>&lt;h3&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/h4"><code>&lt;h4&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/h5"><code>&lt;h5&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/h6"><code>&lt;h6&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/head"><code>&lt;head&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/header"><code>&lt;header&gt;</code></a></li>
  <li class="html5"><s class="deprecatedElement obsoleteElement"><a href="/zh-CN/docs/Web/HTML/Element/hgroup"><code>&lt;hgroup&gt;</code></a></s></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/hr"><code>&lt;hr&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/html"><code>&lt;html&gt;</code></a></li>
 </ol>
 </li><li>I
 <ol>
  <li><a href="/zh-CN/docs/Web/HTML/Element/i"><code>&lt;i&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/iframe"><code>&lt;iframe&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/img"><code>&lt;img&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/input"><code>&lt;input&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/ins"><code>&lt;ins&gt;</code></a></li>
  <li><s class="obsoleteElement deprecatedElement"><a href="/zh-CN/docs/Web/HTML/Element/isindex"><code>&lt;isindex&gt;</code></a></s></li>
 </ol>
 </li><li>J K
 <ol>
  <li><a href="/zh-CN/docs/Web/HTML/Element/kbd"><code>&lt;kbd&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/keygen"><code>&lt;keygen&gt;</code></a></li>
 </ol>
 </li><li>L
 <ol>
  <li><a href="/zh-CN/docs/Web/HTML/Element/label"><code>&lt;label&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/legend"><code>&lt;legend&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/li"><code>&lt;li&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/link"><code>&lt;link&gt;</code></a></li>
  <li><s class="obsoleteElement deprecatedElement"><a href="/zh-CN/docs/Web/HTML/Element/listing"><code>&lt;listing&gt;</code></a></s></li>
 </ol>
 </li><li>M
 <ol>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/main"><code>&lt;main&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/map"><code>&lt;map&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/mark"><code>&lt;mark&gt;</code></a></li>
  <li><s class="nonStdElement"><a href="/zh-CN/docs/Web/HTML/Element/marquee"><code>&lt;marquee&gt;</code></a></s></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/menu"><code>&lt;menu&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/menuitem"><code>&lt;menuitem&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/meta"><code>&lt;meta&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/meter"><code>&lt;meter&gt;</code></a></li>
 </ol>
 </li><li>N
 <ol>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/nav"><code>&lt;nav&gt;</code></a></li>
  <li><s class="nonStdElement"><a href="/zh-CN/docs/Web/HTML/Element/nobr"><code>&lt;nobr&gt;</code></a></s></li>
  <li><s class="obsoleteElement deprecatedElement"><a href="/zh-CN/docs/Web/HTML/Element/noframes"><code>&lt;noframes&gt;</code></a></s></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/noscript"><code>&lt;noscript&gt;</code></a></li>
 </ol>
 </li><li>O
 <ol>
  <li><a href="/zh-CN/docs/Web/HTML/Element/object"><code>&lt;object&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/ol"><code>&lt;ol&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/optgroup"><code>&lt;optgroup&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/option"><code>&lt;option&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/output"><code>&lt;output&gt;</code></a></li>
 </ol>
 </li><li>P
 <ol>
  <li><a href="/zh-CN/docs/Web/HTML/Element/p"><code>&lt;p&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/param"><code>&lt;param&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/picture"><code>&lt;picture&gt;</code></a></li>
  <li><s class="obsoleteElement deprecatedElement"><a href="/zh-CN/docs/Web/HTML/Element/plaintext"><code>&lt;plaintext&gt;</code></a></s></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/pre"><code>&lt;pre&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/progress"><code>&lt;progress&gt;</code></a></li>
 </ol>
 </li><li>Q
 <ol>
  <li><a href="/zh-CN/docs/Web/HTML/Element/q"><code>&lt;q&gt;</code></a></li>
 </ol>
 </li><li>R
 <ol>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/rp"><code>&lt;rp&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/rt"><code>&lt;rt&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/rtc"><code>&lt;rtc&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/ruby"><code>&lt;ruby&gt;</code></a></li>
 </ol>
 </li><li>S
 <ol>
  <li><a href="/zh-CN/docs/Web/HTML/Element/s"><code>&lt;s&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/samp"><code>&lt;samp&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/script"><code>&lt;script&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/section"><code>&lt;section&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/select"><code>&lt;select&gt;</code></a></li>
  <li class="webcomp"><a href="/zh-CN/docs/Web/HTML/Element/shadow"><code>&lt;shadow&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/slot"><code>&lt;slot&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/small"><code>&lt;small&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/source"><code>&lt;source&gt;</code></a></li>
  <li><s class="nonStdElement"><a href="/zh-CN/docs/Web/HTML/Element/spacer"><code>&lt;spacer&gt;</code></a></s></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/span"><code>&lt;span&gt;</code></a></li>
  <li><s class="obsoleteElement deprecatedElement"><a href="/zh-CN/docs/Web/HTML/Element/strike"><code>&lt;strike&gt;</code></a></s></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/strong"><code>&lt;strong&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/style"><code>&lt;style&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/sub"><code>&lt;sub&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/summary"><code>&lt;summary&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/sup"><code>&lt;sup&gt;</code></a></li>
 </ol>
 </li><li>T
 <ol>
  <li><a href="/zh-CN/docs/Web/HTML/Element/table"><code>&lt;table&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/tbody"><code>&lt;tbody&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/td"><code>&lt;td&gt;</code></a></li>
  <li class="webcomp"><a href="/zh-CN/docs/Web/HTML/Element/template"><code>&lt;template&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/textarea"><code>&lt;textarea&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/tfoot"><code>&lt;tfoot&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/th"><code>&lt;th&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/thead"><code>&lt;thead&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/time"><code>&lt;time&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/title"><code>&lt;title&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/tr"><code>&lt;tr&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/track"><code>&lt;track&gt;</code></a></li>
  <li><s class="obsoleteElement"><a href="/zh-CN/docs/Web/HTML/Element/tt"><code>&lt;tt&gt;</code></a></s></li>
 </ol>
 </li><li>U
 <ol>
  <li><a href="/zh-CN/docs/Web/HTML/Element/u"><code>&lt;u&gt;</code></a></li>
  <li><a href="/zh-CN/docs/Web/HTML/Element/ul"><code>&lt;ul&gt;</code></a></li>
 </ol>
 </li><li>V
 <ol>
  <li><a href="/zh-CN/docs/Web/HTML/Element/var"><code>&lt;var&gt;</code></a></li>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/video"><code>&lt;video&gt;</code></a></li>
 </ol>
 </li><li>W
 <ol>
  <li class="html5"><a href="/zh-CN/docs/Web/HTML/Element/wbr"><code>&lt;wbr&gt;</code></a></li>
 </ol>
 </li><li>X Y Z
 <ol>
  <li><s class="obsoleteElement"><a href="/zh-CN/docs/Web/HTML/Element/xmp"><code>&lt;xmp&gt;</code></a></s></li>
 </ol>
    </li>
   </ol>
   </details></li>
   </ol>
  </section>

<p><strong>HTML内容模板（<code>&lt;template&gt;</code>）元素</strong>是一种用于保存客户端内容机制，该内容在加载页面时不会呈现，但随后可以(原文为 may be)在运行时使用JavaScript实例化。</p>

<p>将模板视为一个可存储在文档中以便后续使用的内容片段。虽然解析器在加载页面时确实会处理<strong><code>&lt;template&gt;</code></strong>元素的内容，但这样做只是为了确保这些内容有效；但元素内容不会被渲染。</p>

<table class="properties">
 <tbody>
  <tr>
   <th scope="row"><a href="/en-US/docs/Web/HTML/Content_categories">Content categories</a></th>
   <td><a href="/en-US/docs/Web/HTML/Content_categories#Metadata_content">Metadata content</a>, <a href="/en-US/docs/Web/HTML/Content_categories#Flow_content">flow content</a>, <a href="/en-US/docs/Web/Guide/HTML/Content_categories#Phrasing_content">phrasing content</a>, script-supporting element</td>
  </tr>
  <tr>
   <th scope="row">Permitted content</th>
   <td>No restrictions</td>
  </tr>
  <tr>
   <th scope="row">Tag omission</th>
   <td>不允许，开始标签和结束标签都不能省略。</td>
  </tr>
  <tr>
   <th scope="row">Permitted parents</th>
   <td><a href="/zh-CN/docs/Web/HTML/Element/body" title="HTML body 元素表示文档的内容。document.body 属性提供了可以轻松访问文档的 body 元素的脚本。"><code>&lt;body&gt;</code></a>, <a href="/zh-CN/docs/Web/HTML/Element/frameset" title="&lt;frameset&gt; 是一个用于包含 &lt;frame&gt; 的 HTML 元素。"><code>&lt;frameset&gt;</code></a>, <a href="/zh-CN/docs/Web/HTML/Element/head" title="HTML head 元素 规定文档相关的配置信息（元数据），包括文档的标题，引用的文档样式和脚本等。"><code>&lt;head&gt;</code></a>, <a href="/zh-CN/docs/Web/HTML/Element/dl" title="HTML &lt;dl&gt; 元素 （或 HTML 描述列表元素）是一个包含术语定义以及描述的列表，通常用于展示词汇表或者元数据 (键-值对列表)。"><code>&lt;dl&gt;</code></a> and <a href="/zh-CN/docs/Web/HTML/Element/colgroup" title="HTML 中的 表格列组（Column Group &lt;colgroup&gt;） 标签用来定义表中的一组列表。"><code>&lt;colgroup&gt;</code></a> without a <code>span</code> attribute</td>
  </tr>
  <tr>
   <th scope="row">Permitted ARIA roles</th>
   <td>None</td>
  </tr>
  <tr>
   <th scope="row">DOM interface</th>
   <td><a href="/zh-CN/docs/Web/API/HTMLTemplateElement"><code>HTMLTemplateElement</code></a></td>
  </tr>
 </tbody>
</table>

<h2 id="Attributes" name="Attributes">属性</h2>

<p>此元素仅包含<a href="/en-US/docs/Web/HTML/Global_attributes">全局属性</a>。</p>

<p>但， <a href="/zh-CN/docs/Web/API/HTMLTemplateElement"><code>HTMLTemplateElement</code></a> 有个属性： <a href="/zh-CN/docs/Web/API/HTMLTemplateElement/content"><code>content</code></a> , 这个属性是只读的<a href="/zh-CN/docs/Web/API/DocumentFragment"><code>DocumentFragment</code></a> 包含了模板所表示的DOM树。</p>

<h2 id="示例">示例</h2>

<p>首先我们从示例的HTML部分开始。</p>

<pre class="brush: html notranslate">&lt;table id=&quot;producttable&quot;&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;td&gt;UPC_Code&lt;/td&gt;
      &lt;td&gt;Product_Name&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;!-- 现有数据可以可选地包括在这里 --&gt;
  &lt;/tbody&gt;
&lt;/table&gt;

&lt;template id=&quot;productrow&quot;&gt;
  &lt;tr&gt;
    &lt;td class=&quot;record&quot;&gt;&lt;/td&gt;
    &lt;td&gt;&lt;/td&gt;
  &lt;/tr&gt;
&lt;/template&gt;
</pre>

<p>首先，我们有一个表，稍后我们将使用JavaScript代码在其中插入内容。然后是模板，它描述了表示单个表行的HTML片段的结构。</p>

<p>既然已经创建了表并定义了模板，我们使用JavaScript将行插入到表中，每一行都是以模板为基础构建的。</p>

<pre class="brush:js; notranslate">// 通过检查来测试浏览器是否支持HTML模板元素
// 用于保存模板元素的内容属性。
if (&apos;content&apos; in document.createElement(&apos;template&apos;)) {

  // 使用现有的HTML tbody实例化表和该行与模板
  let t = document.querySelector(&apos;#productrow&apos;),
  td = t.content.querySelectorAll(&quot;td&quot;);
  td[0].textContent = &quot;1235646565&quot;;
  td[1].textContent = &quot;Stuff&quot;;

  // 克隆新行并将其插入表中
  let tb = document.getElementsByTagName(&quot;tbody&quot;);
  let clone = document.importNode(t.content, true);
  tb[0].appendChild(clone);

  // 创建一个新行
  td[0].textContent = &quot;0384928528&quot;;
  td[1].textContent = &quot;Acme Kidney Beans&quot;;

  // 克隆新行并将其插入表中
  let clone2 = document.importNode(t.content, true);
  tb[0].appendChild(clone2);

} else {
  // 找到另一种方法来添加行到表，因为不支持HTML模板元素。
}
</pre>

<p>结果是原始的HTML表格，通过JavaScript添加了两行新内容：</p>

<div class="hidden">
<pre class="brush: css notranslate">table {
  background: #000;
}
table td {
  background: #fff;
}
</pre>
</div>

<p><iframe class="live-sample-frame sample-code-frame" frameborder="0" height="120" id="frame_示例" src="https://mdn.mozillademos.org/zh-CN/docs/Web/HTML/Element/template$samples/%E7%A4%BA%E4%BE%8B?revision=1572582" width="500"></iframe></p>

<h2 id="Specifications" name="Specifications">标准</h2>

<table class="spectable standard-table">
 <tbody>
  <tr>
   <th scope="col">Specification</th>
   <th scope="col">Status</th>
   <th scope="col">Comment</th>
  </tr>
  <tr>
   <td><a class="external" href="https://html.spec.whatwg.org/multipage//scripting-1.html#the-template-element" hreflang="en" lang="en">HTML Living Standard<br><small lang="zh-CN">template element</small></a></td>
   <td><span class="spec-Living">Living Standard</span></td>
   <td></td>
  </tr>
  <tr>
   <td><a class="external" href="https://www.w3.org/TR/html52//scripting-1.html#the-template-element" hreflang="en" lang="en">HTML5<br><small lang="zh-CN">template element</small></a></td>
   <td><span class="spec-REC">Recommendation</span></td>
   <td>Initial definition</td>
  </tr>
 </tbody>
</table>

<h2 id="Browser_compatibility" name="Browser_compatibility">浏览器兼容性</h2>

<div class="bc-data" id="bcd:html.elements.template"></div>

<h2 id="See_also" name="See_also">参见</h2>

<ul>
 <li>Web components: <a href="/zh-CN/docs/Web/HTML/Element/slot" title="HTML  &lt;slot&gt;  元素 ，作为 Web Components 技术套件的一部分，是"><code>&lt;slot&gt;</code></a> (and historical: <a href="/zh-CN/docs/Web/HTML/Element/shadow" title="HTML &lt;shadow&gt; 元素 — Web 组件技术套件的废弃部分 — 目的是用作 Shadow DOM insertion point。如果你在 shadow host 下面创建了多个 shadow root，你就可能已经使用了它。在正常的 HTML 没有任何用处。"><code>&lt;shadow&gt;</code></a>)</li>
 <li><a href="https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_templates_and_slots">Using templates and slots</a></li>
</ul>

<div></div>
